.row
    .col-xs-12
        h1 About
        p This site was built by 
            a(href='http://twitter.com/jvandellen') the boss 
            | . the founder of 
            a(href='https://twitter.com/search?q=%23campjeffay&src=typd&f=realtime') #campjeffay
            | . and admited Dopapod addict.
            a(href='http://llamamall.net') llamamall 
            | . was inspired by the band
            a(href='http://dopapod.com')  Dopapod
            | . and their legendary music. I only wish recordings of everyshow they play circulated more widely. This site aims to accomplish that! 
        p The first thing the boss does everyday when he gets to work (When Dopapod is on tour) is check the  Live Music Archives at 
            a(href='http://archive.org') archive.org
            | . for any new Dopapod that he could immediately consume! 
    
        p All the music that you stream comes from 
            a(href='http://archive.org') archive.org (for now)
            | . However, we have big plans for 
            a(href='http://llamamall.net') llamamall 
            | . 

            h2 Comming Soon
            p Some of the future features include:
            ul
                li Setlist Archive
                li Setlist Stats (last time played, gap chart)
                li Recomended versions songs
                li JSON API for programmatic access to content

        h3 Donations
        p Do not donate to me. Please just listen to 
            a(href='http://dopapod.com')  Dopapod
            |  and go see their 
            a(href='http://dopapod.com/tour') shows
            | .

        h3 Thank You
        p First and foremost we must thank Dopapod! This site could not be possible without this incredible music!
        this site would also not be possible without 
            a(href='//alecgorge.com') Alec Gorge
            | . Thanks for making your source code available! 
            a(href='//twitter.com/alecgorge') @alecgorge
            | .

        h3 Colonphon
        p This site is hosted at 
            a(href='http://liquidweb.com') Liquid Web
            |  and is built with Angular.js, Node.js, Express, Jade, Stylus, Grunt, jQuery and Phish.
